$grey-base: #444444;

$green-zanah: #E1F0D9;        // Zanah
$green-light: #B6E4AE;        // Celadon
$green-peppermint: #DEF3DA;   // Peppermint
$green-apple: #3AA745;        // Apple
$green-haze: #00B134;         // Green Haze
$green: #008450;              // Tropical Rain Forest
$green-forest: #007F4E;       // Tropical Rain Forest
$green-dark: #00673E;         // Fun Green
$green-dark-forest: #30A821;  // Forest Green
$green-christi: #6AA71C;      // Christi
$green-dark-pea: #1F6521;     // Green Pea
$green-chateau: #38A955;      // Chateau Green
$green-japanese: #01710B;     // Japanese Laurel
$green-apple-darker: #56A13C; // Apple darker
$green-vida: #60AD23;         // Vida Loca
$green-citron: #87AE21;       // Citron