.add-project {
    margin-top: 70px;
    padding: 20px;

    input {
        background: $green-zanah;
        padding: 4px;
    }

    button {
        margin-left: 20px;
        background: $green-zanah;
        padding: 4px;
    }

}