@import '../../node_modules/reset-css/reset.css';
@import "mixins";
@import "colors";
@import "form.scss";
@import "navigation.scss";
@import "filter-links.scss";
@import "project-list.scss";
@import "footer.scss";


html {
    -webkit-tap-highlight-color: transparent;
    font-size: 62.5%;
    font-family: Verdana, Ariel, sans-serif;
}

body {
    @include font-size(1.6);
    line-height: 23px;
    color: $grey-base;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: $green-chateau;

    h1 {
        margin: 15px 0px 0 15px;
        line-height: 0.5;
    }

    .date {
        font-size: 10px;
        margin: 0 0px 0 15px;
    }
}